https://www.perplexity.ai/search/67a9fadb-8589-4e27-8d52-e48555a9b45d

In [13]:
import numpy as np
import pandas as pd

data={
    'apples':[3,2,0,1],
    'oranges':[0,3,7,2]
}

pd.DataFrame(data)

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [14]:
import numpy as np
import pandas as pd

data={
    'apples':[3,2,0,1],
    'oranges':[0,3,7,2]
}

pd.DataFrame(data,index=["第1","第2","第3","第4"])

    apples  oranges
第1       3        0
第2       2        3
第3       0        7
第4       1        2

In [15]:
data = np.random.randint(50,101,size=(5,5))
data

array([[81, 88, 51, 90, 66],
       [58, 86, 72, 53, 74],
       [89, 86, 92, 98, 80],
       [67, 59, 83, 55, 64],
       [53, 88, 79, 78, 53]], dtype=int32)

In [47]:
data = np.random.randint(50,101,size=(5,5))
pd.DataFrame(data)

    0   1   2   3   4
0  80  69  63  73  74
1  77  89  53  90  62
2  52  85  89  55  98
3  82  92  68  95  95
4  63  90  66  89  61

In [48]:
data = np.random.randint(50,101,size=(5,5))
df = pd.DataFrame(data,index=["學生1","學生2","學生3","學生4","學生5"],columns=["國文","英文","數學","地理","歷史"])

df

     國文  英文  數學  地理  歷史
學生1  92  58  57  78  93
學生2  72  85  89  78  88
學生3  70  90  97  52  71
學生4  69  89  74  73  70
學生5  51  84  84  96  89

In [49]:
data = np.random.randint(50, 101,size=(5,5))
df = pd.DataFrame(data,
            index=["學生1","學生2","學生3","學生4","學生5"],
            columns=["國文","英文","數學","地理","歷史"])
df

     國文  英文  數學  地理  歷史
學生1  57  70  66  92  58
學生2  87  76  73  76  89
學生3  93  97  88  53  61
學生4  90  82  58  91  78
學生5  71  60  78  74  96

In [50]:
#依據欄位名稱的選取
df['國文']

學生1    57
學生2    87
學生3    93
學生4    90
學生5    71
Name: 國文, dtype: int32

In [51]:
#依據欄位名稱的選取
df['國文']
df[['國文','英文']]

     國文  英文
學生1  57  70
學生2  87  76
學生3  93  97
學生4  90  82
學生5  71  60

In [46]:
#可使用numpy的統計function
np.sum(df,axis=1)

TypeError: unsupported operand type(s) for +: 'int' and 'builtin_function_or_method'

In [42]:
np.mean(df,axis=1)

學生1    65.4
學生2    72.2
學生3    70.6
學生4    77.2
學生5    77.6
dtype: float64

In [43]:
df['總分']= sum
df['平均']= mean
df

NameError: name 'mean' is not defined

In [61]:
sum = np.sum(df,axis=1)
mean = np.mean(df,axis=1)
df['總分'] = sum
df['平均'] = mean

In [53]:
df

     國文  英文  數學  地理  歷史   總分    平均
學生1  57  70  66  92  58  343  68.6
學生2  87  76  73  76  89  401  80.2
學生3  93  97  88  53  61  392  78.4
學生4  90  82  58  91  78  399  79.8
學生5  71  60  78  74  96  379  75.8

In [65]:



df.loc['學生1']
df.loc[['學生1','學生2']]
df.iloc[0]
df.iloc[:2]
df.iloc[0,:5]
df.iloc[:2,:5]

     國文  英文  數學  地理  歷史
學生1  57  70  66  92  58
學生2  87  76  73  76  89

In [62]:
#依據列的選取
#.loc[] -> 依據名稱
#.iloc[] ->這是依據索引

df.loc['學生1']
df.loc[['學生1','學生2']]
df.iloc[0] #類似numpy的選取
df.iloc[:2] 
df.iloc[0,:5]
df.iloc[:2,:5]

     國文  英文  數學  地理  歷史
學生1  57  70  66  92  58
學生2  87  76  73  76  89